{{- if .Values.ksocGuard.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ksoc-guard
  namespace: {{ .Release.Namespace }}
  labels:
    app_name: ksoc-guard
    app_version: {{ .Values.ksocGuard.image.tag | quote }}
    maintained_by: ksoc
spec:
  minReadySeconds: 90
  replicas: {{ .Values.ksocGuard.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app_name: ksoc-guard
  template:
    metadata:
      labels:
        app_name: ksoc-guard
        app_version: {{ .Values.ksocGuard.image.tag | quote }}
        maintained_by: ksoc
      annotations:
        {{- if .Values.workloads.disableServiceMesh }}
        linkerd.io/inject: disabled
        sidecar.istio.io/inject: "false"
        {{- end }}
        {{- with .Values.ksocGuard.podAnnotations }}
{{ toYaml . | indent 8 }}
        {{- end }}
    spec:
      serviceAccountName: ksoc-guard
      {{- if .Values.workloads.imagePullSecretName }}
      imagePullSecrets:
        - name: {{ .Values.workloads.imagePullSecretName }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
      {{- if .Values.ksoc.seccompProfile.enabled }}
        seccompProfile:
          type: RuntimeDefault
      {{- end }}
      automountServiceAccountToken: false
      initContainers:
{{ include "ksoc-plugins.bootstrap-initcontainer" . | indent 8 }}
      containers:
        - name: ksoc-guard
          image: {{ .Values.ksocGuard.image.repository }}:{{ .Values.ksocGuard.image.tag }}
          imagePullPolicy: Always
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            {{- if .Values.ksoc.seccompProfile.enabled }}
            seccompProfile:
              type: RuntimeDefault
            {{- end }}
          env:
            - name: AGENT_VERSION
              value: {{ .Values.ksocGuard.image.tag | quote }}
            - name: CHART_VERSION
              value: {{ .Chart.Version }}
            - name: KSOC_API_URL
              value: {{ .Values.ksoc.apiUrl }}
            - name: KSOC_NAMESPACE
              value: {{ .Release.Namespace }}
            {{- if .Values.ksoc.awsSecretId }}
            - name: RAD_AWS_SECRET_ID
              value: {{ .Values.ksoc.awsSecretId }}
            {{- else }}
{{ include "ksoc-plugins.access-key-env-secret" . | indent 12 }}
            {{- end }}
            - name: INSTALL_CRDS
              value: "true"
            {{- range $key, $value := .Values.ksocGuard.config }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8001
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8001
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
          - mountPath: /tmp/k8s-webhook-server/serving-certs
            name: cert
            readOnly: true
          - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
            name: api-token
            readOnly: true
          resources:
{{ toYaml .Values.ksocGuard.resources | indent 12 }}
      {{- with .Values.ksocGuard.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.ksocGuard.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
      {{- end }}
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: ksoc-guard-self-signed-cert
      - name: api-token
        secret:
          secretName: ksoc-guard-api-token-secret
{{- end -}}
