repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  sha: v3.2.0
  hooks:
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.10
  hooks:
    - id: shellcheck
- repo: https://github.com/norwoodj/helm-docs
  rev: v1.5.0
  hooks:
    - id: helm-docs
      args:
        - --chart-search-root=.
