ksoc:
  # -- The base URL for the KSOC API.
  apiUrl: https://api.ksoc.com
  # -- The ID of the Access Key used in this cluster (base64).
  base64AccessKeyId: ""
  # -- The secret key part of the Access Key used in this cluster (base64).
  base64SecretKey: ""
  # -- The name of the cluster you want displayed in KSOC.
  clusterName: ""
  # -- The name of the custom secret containing Access Key.
  accessKeySecretNameOverride: ""

deployments:
  # -- Whether to disable service mesh integration.
  disableServiceMesh: true
  # -- The image pull secret name to use to pull container images.
  imagePullSecretName: ""
  # -- The node selector to use for the plugin deployments.
  nodeSelector: {}
  # -- The tolerations to use for the plugin deployments.
  tolerations: []

ksocBootstrapper:
  image:
    # -- The image to use for the ksoc-bootstrapper deployment (located at https://console.cloud.google.com/gcr/images/ksoc-public/us/ksoc-bootstrapper).
    repository: us.gcr.io/ksoc-public/ksoc-bootstrapper
    tag: v0.0.13
  env: {}
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 32Mi
  podAnnotations: {}

ksocGuard:
  enabled: true
  image:
    # -- The image to use for the ksoc-guard deployment (located at https://console.cloud.google.com/gcr/images/ksoc-public/us/ksoc-guard).
    repository: us.gcr.io/ksoc-public/ksoc-guard
    tag: v0.0.71
  config:
    # -- Whether to block on error.
    BLOCK_ON_ERROR: false
    # -- Whether to block on policy violation.
    BLOCK_ON_POLICY_VIOLATION: false
    # -- Whether to block on timeout.
    BLOCK_ON_TIMEOUT: false
    # -- The log level to use.
    LOG_LEVEL: info
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 500Mi
      cpu: 250m
  podAnnotations: {}
  replicas: 1
  webhook:
    objectSelector: {}
    timeoutSeconds: 10

ksocSbom:
  enabled: true
  image:
    # -- The image to use for the ksoc-sbom deployment (located at https://console.cloud.google.com/gcr/images/ksoc-public/us/ksoc-sbom).
    repository: us.gcr.io/ksoc-public/ksoc-sbom
    tag: v0.0.47
  env: {}
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi
  podAnnotations: {}
  webhook:
    timeoutSeconds: 10

ksocSync:
  enabled: true
  image:
    # -- The image to use for the ksoc-sync deployment (located at https://console.cloud.google.com/gcr/images/ksoc-public/us/ksoc-sync).
    repository: us.gcr.io/ksoc-public/ksoc-sync
    tag: v0.0.36
  env: {}
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  podAnnotations: {}

ksocWatch:
  enabled: true
  image:
    # -- The image to use for the kubewatcher deployment (located at https://console.cloud.google.com/gcr/images/ksoc-public/us/kubewatcher).
    repository: us.gcr.io/ksoc-public/ksoc-watch
    tag: v0.0.49
  env: {}
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  podAnnotations: {}
