name: checks

on:
  pull_request:

jobs:
  pre-commit:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: us.gcr.io/ksoc-public/kubernetes-toolkit:1.21.3
    steps:
      - name: clone repo
        uses: actions/checkout@v3
      - name: pre-commit checks
        run: pre-commit-checks

  deprecation-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: us.gcr.io/ksoc-public/kubernetes-toolkit:1.21.3
    steps:
      - name: clone repo
        uses: actions/checkout@v3
      - name: deprecation-checks
        run: make deprecation-checks

  kubeval-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: us.gcr.io/ksoc-public/kubernetes-toolkit:1.21.3
    steps:
      - name: clone repo
        uses: actions/checkout@v3
      - name: kubeval-checks
        run: make kubeval-checks

  lint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0
      - name: Run chart-testing (lint)
        run: ct lint --config test/ct.yaml
